@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Noto Sans TC", sans-serif;
}

.d-none {
  display: none;
}

.noto_serif {
  font-family: "Noto Serif TC", serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #3f5d45;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.collapse_menu {
  display: none;
}

.logo img {
  width: 200px;
}

nav.fullsize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
  color: #3f5d45;
}

nav.fullsize ul {
  list-style: none;
  font-size: 16px;
  width: 319px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav.fullsize li + li {
  padding-left: 20px;
}

nav.fullsize li a:hover {
  color: #8da291;
  border-bottom: 3px solid #3f5d45;
}

nav.mobile {
  display: none;
}

footer {
  max-width: 100%;
  background-color: #eaf0ed;
  color: #3f5d45;
}

.subscription {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #3f5d45;
}

.mailhint {
  background-color: #3f5d45;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  color: #fff;
}

.mailhint img {
  width: 50px;
  padding-right: 20px;
}

.typeemail {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30PX;
  background-color: #3f5d45;
}

.typeemail .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 16px 20px;
  width: 100%;
}

.typeemail .email img {
  padding-right: 20px;
}

.typeemail .email input {
  border: none;
  outline: none;
}

.typeemail .subimt {
  padding: 20px 24px;
  background-color: #FFE180;
  text-align: center;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 12px;
}

.contactus {
  width: 227px;
  margin: 30px;
}

.contactus .contactlogo {
  width: 70%;
  padding-bottom: 100px;
}

.contactus .contactinfo {
  line-height: 24px;
  padding-bottom: 30px;
}

.contactus .icon img {
  width: 10%;
}

.brand {
  margin: 30px;
  width: 227px;
  text-align: right;
}

.brand .slogan img {
  width: 60px;
  padding-bottom: 82px;
}

@media (max-width: 650px) {
  .hamburger {
    cursor: pointer;
  }
  nav.fullsize {
    display: none;
  }
  nav.mobile {
    margin: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  nav.mobile i {
    color: #3f5d45;
  }
  #nav-toggle:checked ~ .collapse_menu {
    max-height: 100%;
  }
  .collapse_menu {
    width: 100%;
    display: block;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #fff;
    z-index: 2;
  }
  .collapse_menu ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    width: 100%;
  }
  .collapse_menu li {
    text-align: center;
    display: block;
    width: 70px;
    padding: 20px 0;
  }
  .collapse_menu li a {
    font-weight: 400;
  }
  .collapse_menu li a:hover {
    color: #8da291;
  }
  .collapse_menu li + li {
    border-top: 1px solid #3f5d45;
  }
  .subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscription .mailhint {
    padding: 30px;
    width: 100%;
  }
  .subscription .typeemail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 30px;
  }
  .subscription .typeemail input {
    width: 100%;
  }
  .contact .brand {
    display: none;
  }
}

.landing-banner {
  width: 100%;
}

.landing-banner img {
  width: 100%;
  max-height: 496px;
  -o-object-fit: cover;
     object-fit: cover;
}

.landingbanner {
  width: 100%;
  height: 496px;
  background-image: url("../images/slide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 150px;
}

.boxes {
  width: 75%;
  height: 40%;
  background-color: #e26715;
  position: absolute;
  bottom: -45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boxes .box {
  border: 1px solid #fff;
  width: 33.333%;
  height: 100%;
}

article.why_make {
  background-color: #eaf0ed;
}

article.why_make .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 420px;
  position: relative;
}

article.why_make .container .heading {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 5px;
  text-indent: -16px;
  line-height: 35px;
  position: absolute;
  top: -1%;
  right: 0;
}

article.why_make .container .content {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  max-width: 300px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  letter-spacing: 5px;
  line-height: 40px;
  padding: 65px 100px 65px 20px;
}

article.why_make .container .reason_img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
  top: -20px;
  width: 460px;
  height: 460px;
  background-image: url("../images/reason2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 935px) {
  article.why_make .container .content {
    line-height: 35px;
    padding: 60px 90px 60px 15px;
  }
  article.why_make .reason_img {
    width: 380px;
    height: auto;
  }
}

@media (max-width: 850px) {
  article.why_make .container .content {
    line-height: 33px;
    padding: 55px 80px 50px 10px;
    font-size: 14px;
  }
  article.why_make .reason_img {
    width: 380px;
    height: auto;
  }
}

/* 漢堡選單 */
.pr-menurwd {
  display: none;
}

/* carousel部分 */
.pr-carousel {
  text-align: center;
  margin-bottom: 60px;
}

.pr-bnrwd {
  display: none;
}

/* main部分 */
.pr-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* side部分 */
.pr-side {
  width: 300px;
  margin-right: 20px;
}

.pr-side ul li {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 65px;
}

.pr-sidetitle {
  color: #EAF0ED;
  background-color: #3F5D45;
  border: none;
}

.pr-sidenstyle {
  border: 1px solid #EAF0ED;
  color: #3F5D45;
}

/*超連結和滑動效果*/
.pr-sidenstyle a {
  color: #3F5D45;
  text-decoration: none;
  text-align: center;
}

.pr-sidenstyle a:visited {
  color: #3F5D45;
  background-color: #EAF0ED;
  border: none;
  text-decoration: none;
}

.pr-sidenstyle a:hover {
  display: -ms-grid;
  display: grid;
  color: #3F5D45;
  background-color: #EAF0ED;
  border: none;
}

/* content部分 */
.pr-content {
  width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

/* container部分 */
.pr-container {
  position: relative;
}

.pr-product {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pr-productname {
  padding: 14px 33px 14px 33px;
  border: 1px solid #EAF0ED;
  background-color: #ffffff;
  font-size: 20px;
  color: #3F5D45;
}

.pr-price {
  padding: 14px 25px 14px 20px;
  border: 1px solid #EAF0ED;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  color: #3F5D45;
  text-align: center;
}

.pr-addcart {
  border: 1px solid #EAF0ED;
  background-color: #EAF0ED;
  text-align: center;
  width: 300px;
  line-height: 65px;
}

/* 購物車按鈕 */
.pr-addcart a {
  font-size: 24px;
  color: #3F5D45;
  text-decoration: none;
}

.pr-addcart a:hover {
  display: -ms-grid;
  display: grid;
  font-size: 24px;
  background-color: #3F5D45;
  color: #EAF0ED;
  text-decoration: none;
}

.pr-producttop {
  width: 36px;
  padding: 10px 0px 10px 0px;
  color: #EAF0ED;
  font-size: 16px;
  background-color: #3F5D45;
  line-height: 20px;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 20px;
}

.pr-productlike {
  position: absolute;
  top: 19px;
  right: 22px;
}

/* pager部分 */
.pr-page {
  width: 940px;
  margin-top: 30PX;
  margin-bottom: 30px;
}

.pr-page ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.pr-page ul li {
  border: 1px solid #EAF0ED;
  text-align: center;
  font-size: 20px;
  color: #3F5D45;
  line-height: 60px;
  width: 60px;
}

.pr-page ul li:hover {
  color: #3F5D45;
  background-color: #EAF0ED;
}

.pr-page ul a:hover {
  text-decoration: none;
}

.pr-page a {
  text-decoration: none;
  color: #3F5D45;
}

/* footer部分 */
.pr-footer {
  max-width: 100%;
  height: 457px;
  border: #3F5D45 solid 1px;
}

.pr-subscription {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: aqua;
}

.pr-mailhint {
  width: 50%;
  height: 116px;
  background-color: blue;
}

.pr-typeemail {
  width: 50%;
  height: 116px;
  background-color: purple;
}

.pr-contactus {
  background-color: coral;
}

.pr-copyright {
  background-color: pink;
}

@media (max-width: 510px) {
  .pr-menu {
    display: none;
  }
  .pr-menurwd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
  }
  .pr-incart a:visited {
    color: #3F5D45;
  }
  .pr-menurwd img {
    width: 30%;
  }
  /* 漢堡選單 */
  .pr-bugernav {
    max-width: 510px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* margin: 24px 24px 33px 24px; */
  }
  .pr-checkbox {
    display: none;
  }
  .pr-navitem {
    width: 100%;
    text-align: center;
    overflow: hidden;
    max-height: 0;
    background-color: #ffffff;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    position: absolute;
    top: 60px;
  }
  input:checked ~ .pr-navitem {
    max-height: 150%;
  }
  .pr-navitem ul {
    display: block;
    width: 100%;
  }
  .pr-navitem li {
    padding-bottom: 15px;
    padding-top: 10px;
  }
  /* carousel部分 */
  .pr-carousel {
    margin-bottom: 0px;
  }
  .pr-bnpc {
    display: none;
  }
  .pr-bnrwd {
    display: -ms-grid;
    display: grid;
  }
  /* side部分 */
  .pr-side {
    width: 100%;
    margin-right: 0px;
  }
  /* content部分 */
  .pr-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pr-container {
    margin-top: 30px;
  }
  /* page部分 */
  .pr-page {
    margin-bottom: 30px;
  }
  .pr-page ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.content {
  margin: 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content img {
  max-width: 100%;
  height: auto;
}

.content ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33%;
  text-align: center;
}

.content .forMobile {
  display: none;
}

.loginBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #3f5d45;
  color: #ffffff;
  font-size: 36px;
}

.loginBlock .titleOfLogin {
  line-height: 120px;
}

.loginBlock .userInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5%;
}

.loginBlock .userInfo i {
  padding: 4%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3f5d45;
  background-color: #eaf0ed;
}

.loginBlock .userInfo input {
  outline: none;
  border: none;
  width: 70%;
  background-color: #eaf0ed;
}

.loginBlock .rememberBlock {
  font-size: 16px;
  margin-bottom: 5%;
  padding-right: 70%;
  outline: none;
  border: none;
}

.loginBlock .loginButton {
  font-size: 24px;
  line-height: 65px;
  background-color: #ffe180;
}

.loginBlock .loginButton a {
  display: block;
}

.socialMediaBlock {
  background-color: #eaf0ed;
  color: #8da291;
  margin: 1.5% 0;
  font-size: 24px;
}

.socialMediaBlock .titleOfsocialMedia {
  margin: 11% 0;
  font-weight: lighter;
  position: relative;
}

.socialMediaBlock .titleOfsocialMedia:before,
.socialMediaBlock .titleOfsocialMedia:after {
  position: absolute;
  content: "";
  top: 50%;
  background: #aaa;
  width: 18%;
  height: 2px;
}

.socialMediaBlock .titleOfsocialMedia:before {
  left: 13%;
}

.socialMediaBlock .titleOfsocialMedia:after {
  right: 13%;
}

.socialMediaBlock .smButton {
  background-color: #ffffff;
  margin: 5% 8%;
  line-height: 0;
}

.socialMediaBlock .smButton img {
  display: block;
  margin-left: 33%;
  width: 33%;
  height: 56px;
}

@media (max-width: 650px) {
  .content {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content .forMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .content .forWeb {
    display: none;
  }
  .content .loginBlock {
    width: 100%;
    margin-top: 0%;
  }
  .socialMediaBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5%;
  }
  .socialMediaBlock .smButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 6% 0;
  }
  .socialMediaBlock .smButton img {
    width: 60%;
    margin-left: 20%;
  }
  .socialMediaBlock .facebookLogo {
    margin-left: 6%;
  }
  .socialMediaBlock .googleLogo {
    border-left: solid 2px #eaf0ed;
    border-right: solid 2px #eaf0ed;
  }
  .socialMediaBlock .yahooLogo {
    margin-right: 6%;
  }
}

.co1-content {
  min-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkoutcredit {
  min-width: 460px;
  background-color: #3f5d45;
  padding: 30px 40px;
}

.checkoutcredit .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checkoutcredit .step .co-1step {
  font-size: 36px;
}

.cs-container {
  max-width: 180px;
  margin: 0 auto;
}

.cs-paydone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-bottom: 100px;
}

.cs-paydone-item {
  color: #FFF;
  position: relative;
}

.cs-paydone-item i {
  width: 10px;
  position: absolute;
  top: 1px;
}

.cs-paydone-item:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 20px;
  height: 20px;
  background-color: #3f5d45;
  border-radius: 50%;
}

.timeLine:after {
  content: "";
  position: absolute;
  z-index: -2;
  border-bottom: 1px solid #3f5d45;
  top: 10px;
  bottom: 0px;
  width: 100px;
}

input[type=text] {
  width: 100%;
  height: 56px;
  padding: 12px 20px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.OrderInformation {
  width: 300px;
}

.cs-content {
  max-width: 100%;
}

.cs-bn {
  margin: 0 auto;
  width: 940px;
  height: 460px;
  background-image: url(../images/brooke-lark-385507-unsplash.jpg);
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.cs-paydone-message {
  position: absolute;
  z-index: 1;
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.cs-img {
  width: 180px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.cs-container {
  max-width: 180px;
  margin: 0 auto;
}

.cs-paydone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-bottom: 100px;
}

.cs-paydone-item {
  color: #FFF;
  position: relative;
}

.cs-paydone-item i {
  width: 10px;
  position: absolute;
  top: 1px;
}

.cs-paydone-item:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 20px;
  height: 20px;
  background-color: #3f5d45;
  border-radius: 50%;
}

.timeLine:after {
  content: "";
  position: absolute;
  z-index: -2;
  border-bottom: 1px solid #3f5d45;
  top: 10px;
  bottom: 0px;
  width: 100px;
}

.cs-btn {
  width: 100%;
  padding: 15px 0;
  background-color: #FFE180;
  color: #3f5d45;
  font-size: 30px;
  text-align: center;
}

.cs-keepbtn-out {
  display: none;
}

@media (max-width: 510px) {
  .cs-bn {
    width: 100%;
    margin-bottom: 0px;
  }
  .cs-keepbtn {
    display: none;
  }
  .cs-keepbtn-out {
    display: -ms-grid;
    display: grid;
  }
}
/*# sourceMappingURL=all.css.map */