<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sweetaste* - <%- title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css"
    />
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>
  <body>
    <header class="container">
      <nav class="fullsize">
        <a href="#" class="logo">
          <img src="../assets/images/logo-all-dark.svg" alt="sweetaste logo" />
        </a>
        <ul>
          <li><a href="#">首頁</a></li>
          <li><a href="#">甜點</a></li>
          <li><a href="#">登入</a></li>
          <li><a href="#">購物車</a></li>
        </ul>
      </nav>
      <input type="checkbox" name="nav-toggle" id="nav-toggle" class="d-none" />
      <nav class="mobile">
        <label for="nav-toggle">
          <i class="fas fa-bars hamburger"></i>
        </label>
        <a href="#" class="logo">
          <img src="../assets/images/logo-all-dark.svg" alt="sweetaste logo" />
        </a>
        <i class="fas fa-shopping-cart"></i>
      </nav>
      <div class="collapse_menu">
        <ul>
          <li><a href="#">首頁</a></li>
          <li><a href="#">甜點</a></li>
          <li><a href="#">登入</a></li>
        </ul>
      </div>
    </header>

    <%- contents %>

    <footer></footer>
  </body>
</html>
