.co1-content{
  max-width: 960px;
  display:flex;
  justify-content:center
}

.checkoutcredit{
  max-width: 50%;
  // background-color: #3f5d45;
  padding: 30px 40px;

  .step{
      display:flex;
      justify-content:space-between;

      .co-1step{
          font-size:36px;
      }
  }    
}



// 偽元素時間軸
.cs-container{
  max-width: 180px;
  margin: 0 auto;
}

.cs-paydone{
  display:flex;
  justify-content: space-between;
  position: relative;

  margin-bottom: 100px;
}

.cs-paydone-item{
  color: #FFF;
  position: relative;

  i{
      width: 10px;
      position: absolute;
      top: 1px;
  }
}

.cs-paydone-item:before{
  content: "";
  position: absolute;
  z-index: -1;

  width: 20px;
  height: 20px;
  background-color: $dark_green;
  border-radius: 50%;
 
}


.timeLine:after{
  content: "";
  position: absolute;
  z-index: -2;
  
  border-bottom: 1px solid $dark_green;

  top: 10px;
  bottom: 0px;
  width: 100px;
    
}
// 偽元素時間軸結束

.Form input[type=creditcard]{
  width: 50%;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  color: #8da291;
  box-sizing: border-box;
}

.Form input[type=text]{
  width: 50%;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  color: #8da291;
  box-sizing: border-box;
}

.Form input {
  width: 50%;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  color: #8da291;
  // box-sizing: border-box;
}

.X1{
  display:flex;
  justify-content:center;

}

.OrderInformation{
 width: 300px;

 .ul li {
     display:flex;
     justify-content:space-between;
 }
}

