// Banner
// img 自適應
.landing-banner {
  width: 100%;

  img {
    width: 100%;
    max-height: 496px;
    object-fit: cover;
  }
}

// Banner
// background 自適應
.landingbanner {
  width: 100%;
  height: 496px;

  background-image: url("../images/slide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 150px;
}

// 中間三格
.boxes {
  width: 75%;
  height: 40%;
  background-color: rgb(226, 103, 21);
  position: absolute;
  bottom: -45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;

  .box {
    border: 1px solid #fff;
    width: 33.333%;
    height: 100%;
  }
}

article.why_make {
  background-color: $light_green;

  .container {
    display: flex;
    justify-content: space-between;
    max-height: 420px;
    position: relative;

    .heading {
      order: 3;
      writing-mode: vertical-rl;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 5px;
      text-indent: -16px;
      line-height: 35px;
      position: absolute;
      top: -1%;
      right: 0;
    }

    .content {
      order: 2;
      max-width: 300px;

      writing-mode: vertical-rl;
      letter-spacing: 5px;
      line-height: 40px;
      padding: 65px 100px 65px 20px;
    }

    .reason_img {
      order: 1;
      position: relative;
      top: -20px;
      width: 460px;
      height: 460px;

      background-image: url("../images/reason2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}

@media (max-width: 935px) {
  article.why_make {
    .container {
      .content {
        line-height: 35px;
        padding: 60px 90px 60px 15px;
      }
    }

    .reason_img {
      width: 380px;
      height: auto;
    }
  }
}

@media (max-width: 850px) {
  article.why_make {
    .container {
      .content {
        line-height: 33px;
        padding: 55px 80px 50px 10px;
        font-size: 14px;
      }
    }
    .reason_img {
      width: 380px;
      height: auto;
    }
  }
}
