// 上方banner區
.topBanner{
  max-width: 960px;
  height: 496px;
  margin: 5% auto 30% auto;
  background-image: url(../images/slide.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

// 中間三個方塊區
.selectBox{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  position: absolute;
  left:10%;
  top: 83%;
  
  .allBox{
    width: 260px;
    height: 256px;
    font-size: 24px;
    background-color: rgba(12, 83, 18, 0.45);
    background-position: center center;
    background-blend-mode: multiply;

    a{
      display: block;
      font-weight: lighter;
      line-height: 30px;
      padding: 28% 48%;
      color: $white;

    }

  }

  .box1{
    background-image: url(../images/topic_1.jpg);
  }

  .box2{
    background-image: url(../images/topic_3.jpg);
  }

  .box3{
    background-image: url(../images/topic_2.jpg);
  }


}