// 整體設定
.content{
    margin: 60px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

    img{
        max-width: 100%;
        height: auto;
    }

    ul{
        flex-direction: column;
        width: 33%;
        text-align: center;
    }

    .forMobile{
        display: none;
    }

}

// 左邊的login區
.loginBlock{
    display: flex;
    justify-content: space-between;
    background-color: $dark_green;
    color: $white;

    .titleOfLogin{
        line-height: 120px;
        font-size: 36px;

    }

    .userInfo{
        display: flex;
        justify-content: center;
        margin-bottom: 5%;

        i{
            padding: 4%;
            font-size: 16px;
            align-items: center;
            color: $dark_green;
            background-color: $light_green;
        }
        
        input[type=text]{
            outline: none;
            border: none;
            margin: 0%;
            padding: 0%
            width: 70%;
            background-color: $light_green;
        }

        input[type=password]{
            outline: none;
            border: none;
            width: 70%;
            background-color: $light_green;
        }

    }

    .rememberBlock{
        font-size: 16px;
        margin-bottom: 5%;
        padding-right: 70%;
        outline: none;
        border: none;
    }

    .loginButton{
        font-size: 24px;
        line-height: 65px;
        background-color: $yellow;
        
        a{
            display: block;
        }

    }

}

// 右邊的social media區
.socialMediaBlock{
    background-color: $light_green;
    color: $medium_green;
    margin: 1.5% 0;
    font-size: 24px; 
    
    .titleOfsocialMedia{
        margin: 11% 0;
        font-weight: lighter;
        position: relative;
    }

    .titleOfsocialMedia:before,
    .titleOfsocialMedia:after{
        position: absolute;
        content: "";
        top: 50%;
        background: #aaa;
        width: 18%;
        height: 2px;
    }

    .titleOfsocialMedia:before{
        left: 13%;
    }

    .titleOfsocialMedia:after{
        right: 13%;
    }

    .smButton{
        background-color: $white;
        margin: 5% 8%;
        line-height: 0;

        img{
                display: block;
                margin-left: 33%;
                width: 33%;
                height: 56px;
        }   

    }
}

// 手機版
@media (max-width: 650px){
    .content{
        margin: 0;
        flex-direction: column;

        .forMobile{
            display: flex;
        }
        .forWeb{
            display: none;
        }
        .loginBlock{
            width: 100%;
            margin-top: 0%;
        }
    
    
    }
    .socialMediaBlock{
        display: flex;
        margin-bottom: 5%;
        
        .smButton{
            display: flex;
            flex-direction: row;
            margin: 6% 0;
            
            img{
                width: 60%;
                margin-left: 20%;
            }

        }
        .facebookLogo{
            margin-left: 6%;
        }
        .googleLogo{
            border-left: solid 2px $light_green;
            border-right: solid 2px $light_green;
        }
        .yahooLogo{
            margin-right: 6%;
        }

    }

}