// 整體設定
.content{
    margin: 60px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

    img{
        max-width: 100%;
        height: auto;
    }

    ul{
        flex-direction: column;
        width: 33%;
        text-align: center;
    }

}

// 左邊的login區
.loginBlock{
    display: flex;
    justify-content: space-between;
    background-color: $dark_green;
    color: $white;
    font-size: 36px;

    .titleOfLogin{
        line-height: 120px;
    }

    input{
        background-color: $light_green;
        border: 0;
    }    

    .rememberBlock{
        font-size: 16px;
    }

    .loginButton{
        border: pink 1px solid;
        font-size: 24px;
        line-height: 65px;
        background-color: $yellow;
        
        a{
            display: block;
        }

    }

}

// 右邊的social media區
.socialMediaBlock{
    background-color: $light_green;
    color: $medium_green;
    margin: 1.5% 0;
    font-size: 24px; 
    
    .titleOfsocialMedia{
        margin: 9% 0;
        font-weight: lighter;
    }

    .smButton{
        background-color: $white;
        margin: 5% 8%;
        line-height: 0;

        img{
                display: block;
                margin-left: 33%;
                width: 33%;
                height: 56px;
        }   

    }
}
