$white: #ffffff;
$yellow: #ffe180;
$light_yellow: #ffecaf;
$dark_green: #3f5d45;
$medium_green: #8da291;
$light_green: #eaf0ed;
$light_green_hover: #cbdbd3;
$heart_outline: #3f5d45;
$heart_full: red;

$font-s: 12px;
$font-m: 16px;
$font-l: 20px;
$font-xl: 24px;
$font-xxl: 30px;
