.co1-content{
    min-width: 960px;
    display:flex;
    justify-content:center;
}

.checkoutcredit{
    min-width: 460px;
}

.OrderInformation{
    width: 300px;
}

.ShoppingList ul,li{
    list-style:none;
}
